.css-1qfafwk-MuiTypography-root:hover{
    transition: .1s ease-in;
    color: rgb(255, 152, 0);
}
.css-pzqtvd-MuiTypography-root:hover{
     transition: .1s ease-in;
    color: rgb(255, 152, 0);
}
.css-pzqtvd-MuiTypography-root:hover{
   transition: .1s ease-in;
    color: rgb(255, 152, 0);  
}
.css-838eei-MuiTypography-root:hover{
transition: .1s ease-in;
    color: rgb(255, 152, 0); 
}